/* style.css */

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; /* Siyah arka plan */
    color: #ff4d4d; /* Kırmızı yazı rengi */
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #ff4d4d; /* Kırmızı link rengi */
    transition: color 0.3s ease; /* Renk geçişi animasyonu */
}

.nav-menu li a:hover {
    color: #fff; /* Beyaz link rengi hover durumunda */
}

/* Auth buttons */
.auth-buttons {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-signup {
    background-color: #ff4d4d; /* Kırmızı buton arka planı */
    margin-left: auto;
    margin-right: 20px;
    transition: background-color 0.3s ease; /* Renk geçişi animasyonu */
}

.btn-signup:hover {
    background-color: #e50000; /* Kırmızı buton arka planı hover durumunda */
}

/* Hero */
.hero {
    background-color: #ff4d4d; /* Kırmızı arka plan */
    padding: 50px 0;
    text-align: center;
    color: #fff; /* Beyaz yazı rengi */
}

.hero-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.email-form input[type="email"] {
    padding: 10px;
    border: 1px solid #fff; /* Beyaz kenarlık */
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

.email-form button {
    padding: 10px 20px;
    background-color: #000; /* Siyah buton arka planı */
    color: #fff; /* Beyaz buton yazı rengi */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Renk geçişi animasyonu */
}

.email-form button:hover {
    background-color: #333; /* Siyah buton arka planı hover durumunda */
}
