/* style.css */

/* Global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.png'); /* Sayfa arka planı görüntüsü */
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Sabit bir konum */
    width: 100%; /* Genişlik */
    top: 0; /* Sayfanın en üstüne yerleştirme */
    z-index: 1000; /* Diğer öğelerin üzerinde olması */
}

.logo {
    color: #fff;
    font-size: 20px; /* Yazı boyutunu küçült */
    text-decoration: none;
    margin-right: 20px; /* Logo ile diğer menü öğeleri arasında boşluk bırak */
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 10px; /* Menü öğeleri arasında boşluk bırak */
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
}

.auth-buttons {
    position: absolute; /* Sabit bir konum */
    top: 50%; /* Yükseklikte ortalama */
    right: 20px; /* Sağ kenara hizala */
    transform: translateY(-50%); /* Dikeyde ortalama */
}

/* Auth buttons */
.auth-buttons .btn {
    padding: 8px 15px; /* Buton boyutlarını küçült */
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Hero */
.hero {
    margin-top: 60px; /* Navbar ile hero arasında boşluk bırak */
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.email-form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.email-form button {
    padding: 10px 20px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
